#main{
    font-family:'EB Garamond', serif ;
    color: rgb(255, 255, 255);
}

.about-me {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 200;
}

.studies{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 200;

}

.professional-experiences{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 200;
}